.salOf_spades{
    margin-left: -8px;
    margin-top: -8px;
    margin-bottom: -8px;

    background-image: url('/About_Us Background.png') ;
    background-size: 1440px 1024px;
    width: 1440px;
    height: 1024px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.navBar{

    background-color: black;
    height: 69px;
    display: flex;
    color: white;

}

.logoContainer{

    width: 280px;


}

.navBar div{

    display: flex;

}

.navBar img{

    width: 93px;
    height: 69px;

}

.navBar h1{

    font-size: 35px;
    font-family: 'Card Characters';
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    cursor: pointer;
    transition: font-size 0.5s;

}

.navBar h1:hover{

    text-decoration: underline;
    
}

.buttonContainer{

    width: 1060px;
    display: flex;
    align-items: flex-end;
    padding-left: 100px;
    padding-bottom: 5px;
    gap: 92px; 

}

.button{

    background-color: #0000;
    border: #0000;
    color: white;
    font-family: 'Card Characters';
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    text-decoration: none;
    transition: font-size 0.5s;

}

.button:hover {

    text-decoration: underline;
    font-size: 25px;

}

.spadesLogo{

    margin-top: -100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.spadesLogo img{

    margin-left: 70px;

}

.spadesLogo h1{

    width: 911PX;
    margin-top: 20px;
    margin-left: 180px;
    font-family: 'Card Characters';
    font-style: normal;
    font-weight: 400;
    font-size: 93.43px;
    line-height: 121px;
    color: white;
    

}

.spadesLogo p{

    width: 1287PX;
    font-family: 'Card Characters';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: white;

}
